<h2>Portfolio</h2>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <%= link_to image_tag("website_image_url.jpg", class: "card-img-top"), "https://www.tangobravo.pro/" %>
      <div class="card-body">
        <p class="card-text"><%= link_to "Tango Bravo", "https://www.tangobravo.pro/" %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <%= link_to image_tag("website_image_url.jpg", class: "card-img-top"), "https://www.protoncars.pro" %>
      <div class="card-body">
        <p class="card-text"><%= link_to "Proton", "https://www.protoncars.pro" %></p>
      </div>
    </div>
  </div>
</div>
